@media only screen and (max-width: 1560px){

    .group1 img {
        padding: 50px 18px;
        background: #191B1C;
        width: 200px;
        height: 200px;
    }
    .groups {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1200px) {
    
    body{
        width: 100%;
    }
    #img_work1{
        padding-right: 370px;
    }
    .conteiner {
        width: 900px;
    }
    .conteiner h2{
        padding: 15px 260px 16px 0;
    }
    .first_scrin{
        background-size: 100%, auto;
        height: 405px;
    }
    .logo {
      padding: 10px 0 0 0;
    }
    .group {
        margin: 60px auto 30px;
        box-sizing: border-box;
        width: 200px;
        height: 200px;
        border: 2px solid #FFFFFF;
    }
    .group h2 {
        font-size: 55px;
        padding-top: 30px;
        
    }
    .line1 {
        width: 154px;
        margin-left: 20px;
    }
    .group h3 {
        font-size: 19px;
        margin-left: 8px;
    }
    .first_scrin p {
        font-size: 12px;
        width: 550px;
        margin: 0px auto;
    }
    .season1 {
        flex-direction: column;
        height: 1200px;
    }
    .new_season {
        width: auto;
        height: 600px;
    }
    .new_season h2 {
        font-size: 34px;
        padding-top: 40px;
    }
    .line2 {
        margin: 30px auto 40px;
    }
    .groups {
        margin: 0px auto;
        justify-content: space-around;
    }
    .group1 img {
        padding: 45px 15px 45px 15px;
    }
    .groups h4 {
        font-size: 16px;
        padding: 20px 0 10px 0;
    }
    .groups h5 {
        font-size: 14px;
    }
    .new_collection1 {
        width: 100%;
        height: 600px;
        background-size: 100%, 600px; 
    }
    .new_collection1 h2 {
        font-size: 34px;
        padding-top: 360px;
    }
    .line2_1 {
        margin: 30px auto;
    }
    .frame1 {
        margin: 0 auto;
    }
    .season2 {
        flex-direction: column-reverse;
        height: 1100px;
    }
    .new_season2 {
        width: 100%;
        height: 550px;
    }
    .new_season2 h2 {
        font-size: 34px;
        padding-top: 60px;
    }
    .line2_2 {
        margin: 30px auto 40px;
    }
    .new_season2 p {
        width: 560px;
        margin: 0 auto 70px;
    }
    .frame2 {
        margin: 0 auto;
    }
    .new_collection2{
        width: 100%;
        height: 550px;
        background-size: 100%, 550px;
    }
    .new_collection2 img{
        width: 100%;
        height: 550px;
    }
    .new_goods h2 {
        font-size: 34px;
        padding-top: 60px;
    }
    .line2_3 {
        margin: 40px auto 70px;
    }
    .groups_flex_1 {
        width: 873px;
        margin: 0 auto 80px;
        padding: 0;
    }
    .groups_flex1 img{
        width: 180px;
        height: 180px;
        padding: 30px 10px;
    }
    .groups_flex1 h4{
        font-size: 16px;
        padding: 20px 0 10px 0;
    }
    .groups_flex1 h5{
        font-size: 14px;
    }
    .groups_flex_2 {
        width: 873px;
        margin: 0 auto 120px;
        padding: 0;
    }
    .new_goods {
        height: 980px;
    }
    .our_brands {
        height: 300px;
    }
    .our_brands h2 {
        font-size: 34px;
        padding-top: 40px;
    }
    .line2_4 {
        margin: 40px auto;
    }
    .foto_brands {
        width: 873px;
        margin: 0 auto 50px;
        padding: 0;
    }
    .foto_brands img{
        width: 210px;
        height: 80px;
    }
    .footer {
        width: auto;
        background-size: 100% 300px;
        background-repeat: no-repeat;
        height: 300px;
    }
    .footer_conteiner {
        margin: 0 auto;
        padding: 40px 0 0 0;
        width: 873px;
    }
    .footer h3 {
        font-size: 22px;
        padding-bottom: 30px;
    }
    .footer p {
        font-size: 12px;
    }
    .magazine {
        width: 245px;
        margin: 0px;
    }
    .categories {
        width: 270px;
        margin: 0px;
    }
    .ras_img {
        height: 35px;
    }
    .rassulka2 h4 {
        font-size: 12px;
        padding: 9px 18px;;
    }
    .ras_img p {
        padding: 8px 100px 8px 15px;
    }
    .rassulka {
        width: 300px;
    }
    .last_line_block {
        width: 873px;
    }
   
}

@media only screen and (max-width: 992px) {

    .conteiner {
        width: 740px;
    }
    #img_work1 {
        padding: 14px 210px 14px 0px;
    }    
    .conteiner h2 {
        padding: 3px 180px 3px 0;
        font-size: 30px;
    }
    .second_line {
        height: 60px;
    }
    .menu_item h3 {
        padding: 21px 15px;
    }
    .second_line_content span {
        height: 20px;
        padding: 20px 15px;
    }
    .second_line_content img {
        padding: 18px 12px;
    }
    #img1 {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 12px;
    }
    .first_scrin p {
        width: 400px;
        margin: 0 auto;
        padding: 0;
    }
    .group {
        margin: 30px auto 30px;
        width: 150px;
        height: 150px;
    }
    .group h2 {
        font-size: 45px;
        padding-top: 15px;
    }
    .line1 {
        width: 128px;
        margin: 0 auto;
    }
    .group h3 {
        font-size: 16px;
        margin: 0 auto;
    }
    .first_scrin {
        height: 320px;
    }
    .season1 h2 {
        font-size: 30px;
        padding-top: 30px;
    }
    .group1 img {
        padding: 35px 10px;
        width: 180px;
        height: 180px;
    }
    .groups{
        width: 740px;
    }
    .new_season {
        height: 540px;
    }
    .season1, .season2 {
        height: 1060px;
    }
    .new_collection1 {
        width: 100%;
        height: 540px;
        background-size: 100%, 540px;
    }
    .new_collection1 h2{
        margin-top: 260px;
    }
    .new_season2 {
        height: 540px;
    }
    .new_collection2 {
        width: 100%;
        height: 520px;
        background-size: 100%, 520px;
    }
    .groups_flex_1 {
        width: 740px;
        margin: 0 auto 50px;
    }
    .groups_flex1 img {
        width: 140px;
        height: 140px;
        padding: 20px 10px;
    }
    .groups_flex1 h4 {
        font-size: 14px;
        padding: 12px 0 10px 0;
    }
    .groups_flex_2 {
        width: 740px;
        margin: 0 auto;
    }
    .groups_flex2 img {
        width: 140px;
        height: 140px;
        padding: 20px 10px;
    }
    .new_goods {
        height: 850px;
    }
    .foto_brands {
        width: 740px;
    }
    .foto_brands img {
        width: 180px;
    }
    .footer_conteiner {
        width: 740px;
    }
    .footer h3 {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .footer p {
        font-size: 10px;
    }
    .footer h4 {
        padding: 8px 15px;
    }
    .cat_frame1 {
        width: 240px;
    }
    .cat_frame2 {
        width: 240px;
        padding-top: 25px;
    }
    .categories {
        width: 240px;
    }
    .ras_img p {
        padding: 10px 58px 4px 15px;
    }
    .rassulka {
        width: 240px;
    }
    .rassulka2 {
        padding-top: 18px;
    }
    .last_line_block {
        width: 740px;
    }
    .last_line {
        height: 40px;
    }
    .last_line p {
        padding: 12px 0;
    }

}

@media only screen and (max-width: 768px) {
    
    .conteiner {
        width: 460px;
    }
    .top_line{
        display: none;
    }
    .conteiner h2 {
        padding: 3px 20px 3px 0;
    }
    .menu_item h3 {
        padding: 21px 10px;
        font-size: 11px;
    }
    .second_line_content span {
        font-size: 11px;
    }
    .span1 {
        width: 95px;
    }
    .second_line_content span {
        padding: 20px 10px;
    }
    .second_line_content img {
        width: 18px;
        height: 18px;
    }
    #img1 {
        margin: 0 6px;
    }
    .group {
        margin: 0 auto 10px;
        width: 110px;
        height: 110px;
    }
    .logo {
        padding: 15px 0 0 0;
    }
    .group h2{
        font-size: 34px;
        padding: 0px;
    }
    .line1 {
        width: 90px;
        margin: 0 auto;
    }
    .group h3 {
        font-size: 12px;
        margin: 0 auto;
    }
    .first_scrin p {
        width: 460px;
        font-size: 10px;
    }
    .first_scrin {
        height: 210px;
    }
    .season1 h2 {
        font-size: 26px;
        padding-top: 15px;
    }
    .line2 {
        margin: 20px auto 30px;
    }
    .group1 img {
        padding: 25px 7px;
        width: 125px;
        height: 125px;
    }
    .groups {
        width: 460px;
    }
    .groups h4 {
        font-size: 14px;
        padding: 15px 0 8px 0;
    }
    .groups h5 {
        font-size: 12px;
    }
    .new_season {
        height: 420px;
    }
    .new_collection1 {
        width: 100%;
        height: 405px;
        background-size: 100%, 420px;
    }
    .new_collection1 h2 {
        margin-top: 180px;
    }
    .season1{
        height: 825px;
    }
    .new_collection2 {
        width: 100%;
        height: 365px;
        background-size: 100%, 520px;
    }
    .new_season2 h2 {
        font-size: 26px;
        padding-top: 40px;
    }
    .new_season2 p {
        width: 460px;
        margin: 0 auto 70px;
    }
    .new_season2 {
        height: 510px;
    }
    .new_collection2 {
        width: 100%;
        height: 330px;
        background-size: 100%, 330px;
    }
    .season2 {
        height: 840px;
    }
    .new_goods h2 {
        font-size: 26px;
        padding-top: 40px;
    }
    .line2_3 {
        margin: 30px auto 50px;
    }
    .groups_flex_1 {
        width: 460px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .groups_flex1 h5 {
        padding-bottom: 30px;
    }
    .groups_flex_2 {
        width: 460px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .new_goods {
    height: 1330px;
    }
    .our_brands h2 {
        font-size: 26px;
        padding-top: 30px;
    }
    .line2_4 {
        margin: 30px auto;
    }
    .foto_brands {
        width: 460px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .our_brands {
        height: 340px;
    }
    .footer_conteiner{
        width: 460px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer h3 {
        font-size: 26px;
    }
    .magazine {
        width: 420px;
        margin: 0 0 20px 0;
    }
    .footer p {
        font-size: 12px;
    }
    .categories {
        width: 420px;
        margin: 0 0 20px 0;
    }
    .cat_frame1 {
        width: 250px;
    }
    .cat_frame2 {
        width: 250px;
    }
    .rassulka {
        width: 420px;
    }
    .footer {
        width: auto;
        background-size: auto, 100%;
        height: 550px;
        background-repeat: repeat;
    }
    .last_line_block {
        width: 460px;
    }
}

@media only screen and (max-width: 480px) {
    
    .conteiner {
        width: 300px;
    }
    .conteiner h2 {
        font-size: 25px;
        padding: 0 15px 0 0;
        height: 50px;
    }
    .second_line {
        height: 50px;
    }
    .menu_item h3 {
        padding: 16px 2px;
        font-size: 8px;
    }
    .second_line_content span {
        padding: 16px 2px 14px;
        font-size: 8px;
    }
    .span1 {
        width: 69px;
    }
    .second_line_content img {
        width: 13px;
        height: 13px;
    }
    #img1 {
        margin: 0 0 0 2px;
    }
    .second_line_content img {
        padding: 18px 5px;
    }
    .logo {
        padding: 5px 0 0 0;
    }
    .group {
        margin: 0 auto 10px;
        width: 80px;
        height: 80px;
    }
    .group h2 {
        font-size: 22px;
        margin: -13px 0 0 0;
        height: 35px;
    }
    .line1 {
        width: 60px;
        margin: 24px auto;
    }
    .group h3 {
        font-size: 9px;
        margin: -24px auto;
        height: 15px;
    }
    .first_scrin p {
    width: 310px;
    font-size: 7px;
    }
    .group {
        margin: 0 auto 3px;
    }
    .first_scrin {
        height: 135px;
    }
    .season1 h2 {
        font-size: 22px;
        padding-top: 10px;
    }
    .line2 {
        margin: 10px auto 20px;
        width: 100px;
    }
    .group1 img {
        padding: 15px 7px;
        width: 80px;
        height: 80px;
    }
    .groups {
        width: 300px;
    }
    .groups h4 {
        font-size: 12px;
        padding: 5px 0 4px 0;
    }
    .new_season {
        height: 290px;
    }
    .new_collection1 h2 {
        margin-top: 100px;
    }
    .line2_1 {
        margin: 20px auto;
    }
    .frame1 h4 {
        font-size: 14px;
        padding: 8px 16px;
    }
    .frame1 {
        width: 100px;
    }
    .season1 {
    height: 555px;
    }
    .new_collection1 {
        height: 265px;
    }
    .new_season2 h2 {
        font-size: 24px;
        padding-top: 20px;
    }
    .line2_2 {
        margin: 20px auto 30px;
    }
    .new_season2 p {
        width: 300px;
        margin: 0 auto 40px;
        font-size: 12px;
    }
    .frame2 {
        width: 260px;
    }
    .frame2 h4 {
        font-size: 14px;
    }
    .new_collection2 {
        height: 219px;
    }
    .season2 {
        height: 669px;
    }
    .new_season2 {
        height: 450px;
    }
    .new_goods h2 {
        font-size: 22px;
        padding-top: 30px;
    }
    .line2_3 {
        margin: 20px auto 40px;
    }
    .groups_flex_1 {
        width: 300px;
    }
    .groups_flex1 img {
        width: 110px;
        height: 110px;
        padding: 15px 10px;
    }
    .groups_flex1 h4 {
        font-size: 12px;
    }
    .groups_flex1 h5 {
        font-size: 13px;
    }
    .groups_flex_2 {
        width: 300px;
    }
    .new_goods {
        height: 1120px;
    }
    .our_brands h2 {
        font-size: 24px;
        padding-top: 20px;
    }
    .line2_4 {
        margin: 20px auto;
    }
    .foto_brands {
        width: 300px;
    }
    .foto_brands img {
        width: 140px;
    }
    .our_brands {
        height: 300px;
    }
    .footer_conteiner {
        width: 300px;
    }
    .footer {
        height: 580px;
    }
    .last_line_block {
        width: 300px;
    }
    .last_line p {
        font-size: 11px;
    }
}

@media only screen and (max-width: 320px) {
    
}
